{% extends 'base.html.twig' %}

{% block title %}Редактор машины | Edit Machine{% endblock %}

{% block body %}
    <h1>Редактирование машины</h1>

    {{ include('machine/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_machine_index') }}">back to list</a>

    {{ include('machine/_delete_form.html.twig') }}
{% endblock %}
