{% extends 'base.html.twig' %}

{% block title %}Новая машина| New Machine{% endblock %}

{% block body %}
    <h1>Создайте новую машину</h1>

    {{ include('machine/_form.html.twig') }}

    <a href="{{ path('app_machine_index') }}">back to list</a>
{% endblock %}
